@font-face {
    font-family: 'HakgyoansimJiugaeOTFR.otf';
    src: url('font/HakgyoansimJiugaeOTFR.otf');
}

@font-face {
    font-family: 'PyeongChang-Regular.otf';
    src: url('font/PyeongChang-Regular.otf')
}

@font-face {
    font-family: 'MangoDdobak-R\(ttf\).ttf';
    src: url('font/MangoDdobak-B\(ttf\).ttf')
}
@font-face {
    font-family: 'MangoDdobak-R\(ttf\).ttf';
    src: url('font/MangoByeolbyeol.otf')
}



body{
    margin: 0px;
    font-family: 'HakgyoansimJiugaeOTFR.otf';
    background-color: rgb(206, 223, 237);
    color: rgb(106, 128, 179);
}

.container{
   
   
    
 
}

h1{
    text-align: center;
    margin: 35px;
}

/* 날짜 데이터  */

#now-date{
    font-family:'PyeongChang-Regular.otf' ;
    font-size: 12px;
    display: flex;
    justify-content: end;
}
