@font-face {
    font-family: 'HakgyoansimJiugaeOTFR.otf';
    src: url('font/HakgyoansimJiugaeOTFR.otf');
}

@font-face {
    font-family: 'PyeongChang-Regular.otf';
    src: url('font/PyeongChang-Regular.otf')
}

@font-face {
    font-family: 'MangoDdobak-R\(ttf\).ttf';
    src: url('font/MangoDdobak-B\(ttf\).ttf')
}
@font-face {
    font-family: 'MangoDdobak-R\(ttf\).ttf';
    src: url('font/MangoByeolbyeol.otf')
}



body{
    margin: 0px;
    font-family: 'HakgyoansimJiugaeOTFR.otf';
    background-color: rgb(206, 223, 237);
    color: rgb(106, 128, 179);
}

.container{
   
 
}

h1{
    text-align: center;
    margin: 35px;
}

/* 날짜 데이터  */

#now-date{
    font-family:'PyeongChang-Regular.otf' ;
    font-size: 12px;
    display: flex;
    justify-content: end;
}

/* daily & dot flex */

#bar{
  

margin-top: 40px;
 display: flex;
 justify-content: space-between;
}

/* daily */

.daily-make{
    display: flex;
    margin-left: 50px;
    font-size: 15px;
    background-color: rgb(235, 235, 235);
    width: 150px;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-top: 5px;
 
}

#daily-btn{

    border-radius: 30px;
    margin-left: 10px;
    margin-bottom: 3px;
    color: rgb(106, 128, 179);
    border: none;
    background-color: rgb(191, 218, 241);
}

.fa-plus{
    position: relative;
    top: 3px;
}

#daily-btn:hover{
    background-color: rgb(216, 234, 249);
    box-shadow: 1px 1px gray;
   
}
#daily-btn:active{
    background-color: rgb(159, 191, 217);
   
}

/* 목록 */

.fa-ellipsis{
    font-size: 30px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 40px;
}

.all-button{
    display: none;
    border: none;
    border-radius: 10px;
    padding: 2px;
    background-color: rgb(241, 241, 241);
    width: 80px;
    position: fixed;
    margin-top: 5px;
    margin-left: 20px;
}
.inventory{
    font-size: 13px;
    text-align: center;
    border-bottom: 1px solid rgb(200, 197, 197);
    margin: 0px;
    color: black;
    font-family: 'MangoByeolbyeol.otf';
}


.all-button div{
    
    font-family: 'MangoDdobak-B\(ttf\).ttf';
    cursor: pointer;
    font-size: 12px;
    padding-left: 2px;
    padding-top: 5px;
    height: 25px;
    width: 100%;
    color: rgb(103, 99, 99);
    border-radius: 5px;
    box-sizing: border-box;
}

.all-button div:hover{
    background-color: rgb(231, 240, 247);
    color: black;
}

.all-button div:active{
    background-color: rgb(205, 227, 244);
    color: black;
    
}